<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952903534436-u6sgs7ovaudv4nqm2is614bj5alm45gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952903534436-u6sgs7ovaudv4nqm2is614bj5alm45gb</string>
	<key>API_KEY</key>
	<string>AIzaSyDoleM3eCUCMv7pZByO_bycSEJFTboOZWE</string>
	<key>GCM_SENDER_ID</key>
	<string>952903534436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tyba.test</string>
	<key>PROJECT_ID</key>
	<string>tybatest-a87cd</string>
	<key>STORAGE_BUCKET</key>
	<string>tybatest-a87cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952903534436:ios:071344a08802ada5445c71</string>
</dict>
</plist>